* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 245, 225);
}

.container{
    margin-top: 5em;
    width: 50em;
}

.btn-container{
    padding-left: 21em;
}